<div class="example-container">
  <h2>En Attente</h2>

  <div
    cdkDropList
    #carwaitlist="cdkDropList"
    [cdkDropListData]="waitlist"
    [cdkDropListConnectedTo]="[garageList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of waitlist" cdkDrag>{{item.nom}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Garage</h2>

  <div
    cdkDropList
    #garageList="cdkDropList"
    [cdkDropListData]="garage"
    [cdkDropListConnectedTo]="[carwaitlist]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of garage" cdkDrag>{{item.nom}}</div>
  </div>
</div>

