<div class="col-md-12 card card-plain">
    <div class="task-manager-container">
  
      <div class="carlist has-background-white">
        <h1 class="title has-text-primary">
          Mes voitures
        </h1>
  
        <div class="list-menu">
          <a class="list-menu-item" *ngFor="let car of voitures" [routerLink]="['/atelier/garage', car._id]" routerLinkActive="is-active">
            <p>{{ car.nom }}</p>
          </a>
  
        </div>
      </div>
  
      <div class="task-list-container has-background-light">
        <div *ngIf="reparations">
          <div class="top-bar">
            <h1 class="title has-text-primary">
              Reparations
            </h1>
          </div>
  
          <div class="task" *ngFor="let reparation of reparations" (click)="editReparation(reparation)">
            <div class="task-text">
              <p style="width: 290px;">{{ reparation.titre }}</p>
              <progress class="progress is-small" value="{{reparation.avancement}}" max="100" style="margin-left: 50px;width: 250px;"> {{reparation.avancement}}%</progress>
              <p style="width: 170px; margin-left: 50px;">{{ reparation.prix }} Ar</p>
            </div>
            <div class="task-buttons">
  
              <button class="button" [routerLink]="['/lists', selectedvoitureId, 'edit-reparation', reparation._id]">
                <div class="icon">
                  <i class="fas fa-edit"></i>
                </div>
              </button>
  
              <button class="button is-danger" (click)="onDeletereparationClick(reparation._id)" style="margin-left: 10px;">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
  
            </div>
          </div>
  
          <h3 class="empty-state-text" *ngIf="reparations.length === 0">Aucune reparationspour cette voiture</h3>
  
          <!-- <button routerLink="./new-reparation" class="circle-add-button button is-primary"> -->
          <button class="circle-add-button button is-primary" (click)="createReparation()">
            <img src="../../../../assets/img/plus-icon.svg" class="has-text-white">
          </button>
        </div>
  
        <div *ngIf="!reparations">
        <div>
          <h3 class="empty-state-text">Veuillez selectionner une voiture</h3>
        </div>
  
      </div>
  
      </div>
    </div>
  </div>
  