<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container *ngIf="reparation">
          <ng-container *ngIf="reparation._id">Mettre a Jour Reparation</ng-container>
          <ng-container *ngIf="!reparation._id">Nouvelle Reparation</ng-container>
        </ng-container>
      </div>
    </div>


    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 300px;">
      <ng-container *ngIf="reparation">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Titre</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="titre" formControlName="titre" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Description</label>
              <textarea class="form-control" name="description" formcontrolname="description" formControlName="description" style="height: 150px;" >
                <ng-container *ngIf="reparation._id">{{reparation.description}}</ng-container>
              </textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Prix</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="prix" formControlName="prix" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Avancement</label>
              <ngx-slider *ngIf="reparation.completed == false" [(value)]="reparation.avancement" [options]="options"></ngx-slider>
              <ngx-slider *ngIf="reparation.completed == true"  [(value)]="reparation.avancement" [options]="optionsDesable"></ngx-slider>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <button *ngIf="reparation._id" type="button" class="btn btn-light btn-elevate mr-2" (click)="getFacture(reparation._id)">Voir Facture</button>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Annuler</button>
      <ng-container *ngIf="reparation">
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">Save</button>
      </ng-container>
    </div>
  </div>