<div class="example-container">
    <h2>Mes voitures</h2>
  
    <div
      cdkDropList
      #carsList="cdkDropList"
      [cdkDropListData]="voitures"
      [cdkDropListConnectedTo]="[garageList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of voitures" cdkDrag>{{item.nom}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Garage</h2>
  
    <div
      cdkDropList
      #garageList="cdkDropList"
      [cdkDropListData]="garage"
      [cdkDropListConnectedTo]="[garageList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of garage" cdkDrag>{{item.nom}}</div>
    </div>
  </div>
  
  